@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Item Catageory</h2>

<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("AddorEdit","AdminItems")')"><i class="fa fa-plus"></i>Add New   </a>

<table id="tableItemCatageory"  class="display table table-bordered table-responsive">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>

</table>


@section Scripts{

    <script type="text/javascript">
        var Popup,Datatabl
        $(document).ready(function () {
            debugger
            Datatable=$('#tableItemCatageory').DataTable({
                
                "ajax": {
                    "url": "/AdminItems/GetItemCatageory",
                    "type": "GET",
                    "datatype": "json"
                },
                
                "columns": [
                  { "data": "Name"},
                  { "data": "ItemTypeName" }
                ],

                "language": {
                    "emptyTable":"No Data Found, Please click on <b>Add New</b> Button"
                }
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url).done(function (response) {
                formDiv.html(response);

                Popup= formDiv.dialog({
                    autoOpen: true,
                    resizeable: false,
                    title: 'Fill Catageory Detail',
                    height: '500',
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                })
            })
        }


        function SaveForm(form){
        
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
    
            

                $.ajax({
                    type:'Post',
                    url:form.action,
                    data:$(form).serialize(),
                    success:function (data){
                        if (data.success) {
                            Popup.dialog('close')
                            Datatable.ajax.reload()
                        }
                    }
                });
            }
            return false;
        }

    </script>
}